#my-countries .banner {
  height: 30em;
  padding: 0 10%;
  background-image: url(../../assets/images/my_countries.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#my-countries .banner .text {
  height: 100%;
  padding: 5em;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: white;
}

#my-countries .banner .text .title {
  color: white;
}

#my-countries .banner .text .subtitle {
  color: white;
}

#my-countries .banner .text .call-to-action {
  margin: 0.5em 0;
}

#my-countries .countries {
  display: flex;
  flex-flow: row wrap;
}

#my-countries .countries > * {
  padding: 8px;
}

#my-countries .country-card.create {
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}

#my-countries .country-card.create .title {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1em;
  color: white;
}

#my-countries .country-card.create .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#my-countries .country-card.create .body > * {
  color: white;
  text-align: center;
}

#my-countries .country-card.create .call-to-action {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: white;
}

#my-countries .recommended-divider {
  margin-top: 3em;
}

#my-countries .countries.recommended {
  position: relative;
}

#my-countries .coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0;
  border-radius: 0.1em;
  background-color: #62626261;
  color: white;
  text-shadow: 0 0 5px black
}