#request-early-access { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/bg2.svg);
  background-size: 120%;
  background-position-x: 75%;
  background-position-y: 75%;
  background-repeat: no-repeat;
  background-color: #191A2E;
  overflow: auto;
  font-size: 1.2em;
  text-align: center;
}

#request-early-access .message {
  white-space: pre-line;
}

#request-early-access p, #request-early-access h2, #request-early-access a:not(:hover) {
  color: white;
}

#request-early-access a {
  text-decoration: underline;
}
