:root {
  --bar-height: 3.3rem;
  --drawer-height: calc(100vh - 3.3rem);
}

@media screen and (min-height: 400px) {
  :root {
    --drawer-height: 22rem;
  }
}

#account-bar {
  position: relative;
  height: var(--bar-height);
}

#account-bar .mask {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all;
}

#account-bar header {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  margin-bottom: 1px;
}

#account-bar header a, #account-bar header i {
  color: #fff;
}

#account-bar header + * {
  padding-top: 56px;
}

#account-bar header .drawer {
  display: block;
  background-color: #dedede;
  position: relative;
}

#account-bar header .drawer, #account-bar header .drawer a {
  color: black;
}

#account-bar header .drawer, #account-bar header .drawer > * {
  transition: all 100ms ease-in-out;
}

#account-bar header .drawer.hidden {
  height: 0
}

#account-bar header .drawer.hidden > * {
  transform: translateY(calc(-5 * var(--drawer-height)));
}

#account-bar header .drawer.active {
  height: var(--drawer-height);
}

#account-bar header .drawer.active > * {
  transform: translateY(0);
}

#account-bar header .drawer .container {
  display: flex;
  height: 100%;
  padding: 1em;
}

#account-bar header .drawer .container .ant-row {
  flex: 1;
}

#account-bar header .drawer .container .ant-col, 
#account-bar header .drawer .container .ant-col .ant-menu.ant-menu-vertical {
  height: 100%;
}

#account-bar header .main.ant-row.wrapper {
  background-color:  #191D2F;
  display: flex;
  min-width: min-content;
  border-bottom: 1px solid #0a0a0a;
  padding: 12px 0;
}

#account-bar header .header-col-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#account-bar header .header-col-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#account-bar header .header-col-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#account-bar header .header-col-left > * {
  padding: 0 1em;
}

#account-bar header .header-col-middle > * {
  padding: 0 1em;
  display: flex;
  align-items: center;
}

#account-bar header .header-col-right > * {
  padding: 0 1em;
}

.bit-logo.nav img {
  width: unset;
  height: 2em;
}

.bit-logo.nav.mini img {
  height: 1em;
}

#account-bar header .header-col-middle .primary-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#account-bar header .header-col-middle .primary-menu.collapsed {
  justify-content: flex-start;
}

#account-bar header .header-col-middle .primary-menu > * {
  padding: 0 1em;
  display: flex;
  align-items: center;
}