#pending-country.content {
  height: 100%;
  padding: 1em;
}

#pending-country.content .icon {
  font-size: 2em;
}

#pending-country.content .icon .success {
  color: green;
}

#pending-country.content .icon .failure {
  color: red;
}
