#explore .banner {
  height: 10em;
  padding: 0 10%;
  filter: brightness(0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;
}
#search {
  margin: 1% 0 !important;
}

#explore .banner .text .call-to-action {
  margin: 0.5em 0;
}

#explore .countries {
  display: flex;
  flex-flow: row wrap;
}

#explore .countries > * {
  padding: 8px;
}

#explore .country-card.create {
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}

#explore .country-card.create .title {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1em;
  color: white;
}

#explore .country-card.create .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#explore .country-card.create .body > * {
  color: white;
  text-align: center;
}

#explore .country-card.create .call-to-action {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: white;
}

#explore #load-more {
  margin: 1em;
  text-align: center;
}

#explore .empty {
  text-align: center;
  padding: 12em 0;
}

#explore .filters {
  margin-top: 1em;
}

#explore .filter-field {
  margin-right: 1em;
}

.search-filter-label {
  padding: 2%;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in > .ant-col {
  display: grid;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
